In [1]:
import numpy as np
import pandas as pd

In [3]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

In [53]:
books['Image-URL-M'][1]

'http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg'

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(15868, 8)
(1149780, 3)
(278858, 3)

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    1
Publisher              1
Image-URL-S            1
Image-URL-M            1
Image-URL-L            1
dtype: int64

In [10]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [12]:
books.duplicated().sum()

0

In [13]:
ratings.duplicated().sum()

0

In [14]:
users.duplicated().sum()

0

Popularity Based Recommender System

In [15]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [16]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                           Book-Title  num_ratings
0                                        It Takes Two            2
1                        Tales of Terror and Suspense            1
2                                                 '48            4
3                                        'Salem's Lot           32
4             .Hack: //Legend of the Twilight, Vol. 1            5
...                                               ...          ...
14975  metamorfosis, La (ClÃ¡sicos selecciÃ³n series)            3
14976                                        stardust           51
14977                Â¿QuiÃ©n se ha llevado mi queso?            2
14978                        Â¿QuÃ© me quieres, amor?            9
14979                           Ã?Â?ber die Freiheit.            1

[14980 rows x 2 columns]

In [17]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                           Book-Title  avg_rating
0                                        It Takes Two    0.000000
1                        Tales of Terror and Suspense    0.000000
2                                                 '48    0.000000
3                                        'Salem's Lot    3.406250
4             .Hack: //Legend of the Twilight, Vol. 1    6.400000
...                                               ...         ...
14975  metamorfosis, La (ClÃ¡sicos selecciÃ³n series)    6.000000
14976                                        stardust    4.137255
14977                Â¿QuiÃ©n se ha llevado mi queso?    7.500000
14978                        Â¿QuÃ© me quieres, amor?    3.000000
14979                           Ã?Â?ber die Freiheit.    7.000000

[14980 rows x 2 columns]

In [18]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

                                           Book-Title  num_ratings  avg_rating
0                                        It Takes Two            2    0.000000
1                        Tales of Terror and Suspense            1    0.000000
2                                                 '48            4    0.000000
3                                        'Salem's Lot           32    3.406250
4             .Hack: //Legend of the Twilight, Vol. 1            5    6.400000
...                                               ...          ...         ...
14975  metamorfosis, La (ClÃ¡sicos selecciÃ³n series)            3    6.000000
14976                                        stardust           51    4.137255
14977                Â¿QuiÃ©n se ha llevado mi queso?            2    7.500000
14978                        Â¿QuÃ© me quieres, amor?            9    3.000000
14979                           Ã?Â?ber die Freiheit.            1    7.000000

[14980 rows x 3 columns]

In [19]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [20]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [52]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

Collaborative Filtering Based Recommender System

In [22]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
read_users = x[x].index

In [23]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(read_users)]

In [25]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [26]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [27]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [28]:
pt.fillna(0,inplace=True)

In [29]:
pt

User-ID,254,3363,6251,6575,7346,11601,11676,12538,13273,13552,...,262399,265115,265313,266226,268330,269566,271284,274308,275970,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,7.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,1.0,0.0,0.0,6.5,0.0,0.0,0.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
When the Wind Blows,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Where the Heart Is (Oprah's Book Club (Paperback)),0.0,10.0,0.0,8.0,0.0,0.0,10.0,0.0,9.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
While I Was Gone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White Oleander : A Novel (Oprah's Book Club),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wild Animus,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
similarity_scores = cosine_similarity(pt)

In [32]:
similarity_scores.shape

(115, 115)

In [42]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [44]:
recommend('While I Was Gone')

[["Songs in Ordinary Time (Oprah's Book Club (Paperback))",
  'Mary McGarry Morris',
  'http://images.amazon.com/images/P/0140244824.01.MZZZZZZZ.jpg'],
 ['Back Roads',
  "Tawni O'Dell",
  'http://images.amazon.com/images/P/0451202341.01.MZZZZZZZ.jpg'],
 ['The Bridges of Madison County',
  'Robert James Waller',
  'http://images.amazon.com/images/P/044651652X.01.MZZZZZZZ.jpg'],
 ['Snow Falling on Cedars',
  'David Guterson',
  'http://images.amazon.com/images/P/0151001006.01.MZZZZZZZ.jpg']]

In [46]:
pt.index[100]

'The Testament'

In [48]:
pt.index[112]

'While I Was Gone'

In [49]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [50]:
books.drop_duplicates('Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
15863,0316353299,Blue Highways : A Journey into America,William Least Heat-Moon,1999.0,Back Bay Books,http://images.amazon.com/images/P/0316353299.0...,http://images.amazon.com/images/P/0316353299.0...,http://images.amazon.com/images/P/0316353299.0...
15864,1869503171,Spirit Writing,Adrienne Jansen,1999.0,HarperCollins New Zealand,http://images.amazon.com/images/P/1869503171.0...,http://images.amazon.com/images/P/1869503171.0...,http://images.amazon.com/images/P/1869503171.0...
15865,0767903862,In a Sunburned Country,Bill Bryson,2001.0,Broadway Books,http://images.amazon.com/images/P/0767903862.0...,http://images.amazon.com/images/P/0767903862.0...,http://images.amazon.com/images/P/0767903862.0...
15866,0060931671,The Crying of Lot 49,Thomas Pynchon,1999.0,Perennial Classics,http://images.amazon.com/images/P/0060931671.0...,http://images.amazon.com/images/P/0060931671.0...,http://images.amazon.com/images/P/0060931671.0...
15867,0060730552,Touching the Vo,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))